.container {
  height: 300px;
  background-color: black;
  position: relative;
  width: 1000px;
  margin: 5px auto;
  overflow: hidden;
}

.object {
    position: absolute;
/*     left: 30%; */
    bottom: 5%;
    height: 30px;
    width: 30px;
    border-radius:5px;
    background: #d3d3d3;
}

body {
/*     height: 3000px; */
    background: grey;
}

#left {
  transform: translateX(-100px);
}

#right {
  transform: translateX(100px);
}
